header {
  display: flex;
  font-family: Open_Sans;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 30px;
}

.title {
  border-left: 1px solid var(--black);
  padding-left: 5px;
  text-transform: uppercase;
}
